* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.body_inicio {
    background-image: url(../img/sesion/fondo.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.header_inicio{
    background: none !important;
}

header{
    background: white none repeat scroll 0 0;
    padding: 0 0 12px;
}